<div style="margin-top: 1rem"></div>
<mat-grid-list
  cols="4"
  rowHeight="6:4"
  gutterSize="1rem"
  style="margin-left: 1rem; margin-right: 1rem"
>
  <mat-grid-tile>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>

  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>

  <mat-grid-tile>9</mat-grid-tile>
  <mat-grid-tile>10</mat-grid-tile>
  <mat-grid-tile>11</mat-grid-tile>
  <mat-grid-tile>12</mat-grid-tile>
</mat-grid-list>
