<mat-toolbar class="header">
  <span>ng-mat App</span>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-grid-list cols="3" rowHeight="2:1">
        @for (food of foods; track food; let i = $index, e = $even, o = $odd) {
        <mat-grid-tile>
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
        </mat-grid-tile>
        }
      </mat-grid-list>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button aria-label="share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main>
  <router-outlet />
</main>
