<mat-toolbar class="header">
  <span>ng-mat App</span>
  <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item>Invertebrates</button>
  </mat-menu>

  <mat-menu #vertebrates="matMenu">
    <button mat-menu-item>Fishes</button>
    <button mat-menu-item>Amphibians</button>
    <button mat-menu-item>Reptiles</button>
    <button mat-menu-item>Birds</button>
    <button mat-menu-item>Mammals</button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="user icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main>
  <router-outlet />
</main>
