.header {
  display: flex;
  position: sticky !important;
  justify-content: space-between;

  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  ::ng-deep .mat-mdc-select-trigger {
    vertical-align: middle;
    margin-top: 15px;
  }
}
