.header {
  display: flex;
  justify-content: space-between;

  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  .example-form {
    max-width: 101px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mdc-text-field--filled {
    margin-top: 15px;
  }
}
